SNOWFLAKE_ACCOUNT=VXBOMAL-QGC80885
SNOWFLAKE_USER=your_username
SNOWFLAKE_PASSWORD=your_password_here
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=FINTECH_DB
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_SCHEMA=RAW
